---
layout: archive
---

{{ content }}

<p>
Hi,
</p>

<p>
I'm Mike and I recently joined the wonderful world of software testing in November of 2019.  The idea behind blogging about my journey is to give an idea of what goes into software testing along with my struggles and hopefully some helpful hints.
</p>

<p>
At the time of this writing (October 2020), I have been mainly involved in API testing with automation using <a href="https://cucumber.io/docs/gherkin/reference/" target="_blank">Gherkin</a>/<a href="https://cucumber.io/docs/cucumber/api/" target="_blank">Cucumber</a> and Java as *glue* code - and *<a href="https://getpostman.com" target="_blank">Postman</a> for some manual tests.
</p>

<p>
Welcome and enjoy!
</p>

<p class="notice primary">
    *I tried Insomnia for a few weeks and it sent my ids and secrets
	when I went to share some requests, then immediately switched
	back to Postman 😉.  Postman will also share ids/secrets unless
	you use variables in your requests. (maybe Insomnia has this too 🤷‍♂️)
</p>

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
